.assinature{
  filter: drop-shadow(0 0 20rem #358BB91a);
  & header{
    font: var(--title-sm);
    color: var(--text-title);
    text-align: center;
    height: 40rem;
    margin-bottom: 20rem ;
    
  }
  & .cards{
    &:hover{
      & .img-c-1{
        transform: translateX(-145%) rotate(-8deg);
      }
      & .img-c-2{
        transform: translateY(-15%) translateX(-50%);
      }
      & .img-c-3{
        transform: translateX(45%) rotate(8deg);
      }
    }
  & .card{
    background-color: var(--shape-base);
    width: 18rem;
    height: 26rem;
    border-radius: 1.5rem ;
    padding: 2rem;
    border: 1px solid var(--shape-stroke);
    display: grid;
    align-content: space-between;
    margin-bottom: 18rem;
    & ul img[src*="star-pink"]{
      filter: drop-shadow( 0 0 2px #9547A5);
    }
    & ul img[src*="star-blue"]{
      filter: drop-shadow( 0 0 2px #358BB9);
    }

    & span{
      color: var(--blue-light);
      font: var(--title-xs);
    }
    & h2{
      font: var(--title-md);
      color: var(--text-title);
      display: inline-block;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      & small{
        font: var(--title-xs);
      }
    }
    & p{
      color: var(--text-label);
      font: var(--body-sm);
    }
    & ul{
      display: grid;
      gap: 0.75rem;
      
      

      & img{
        max-width: 0.875rem;
        max-height: 0.875rem;
      }
      & li{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: var(--text-body);
        font: var(--body-xs);
      }
    }
    & a{
      display: flex;
      min-width: 14rem;
      height: 2.5rem;
      
      border-radius: 0.5rem;
      align-items: center;
      justify-content: center;
      padding: 1.25rem;
    }

  }
  & .img-c-1{
   position: absolute;
   z-index: -1;
   top: 50%;
   left: 50%;
   transform: translate(-50%);
   transition: transform 800ms;
    &:hover{
      z-index: 1;
      & .card > img:nth-child(1){
        transform: rotate(-20deg);
      }
      & .card > img:nth-child(2){
        transform: rotate(10deg);
      }
    & .c-1{
      background-color: #001933;
      filter: drop-shadow(0 0 66px #358BB91a);
      transform: translateY(-10px);
    }
   }
  }
  & .c-1{
     position: relative;
     transition: transform 500ms ease;
     

     & > img:nth-child(1){
      transition: transform 500ms ease;
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      left: -15%;
      top: -5%;
    }
    & > img:nth-child(2){
      transition: transform 500ms ease;
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      left: -18%;
      top: 4%;
    }
    & ul{
      padding-bottom:1.25rem ;
    }
  & .button{
    background-color: var(--blue-dark);
    position: relative;
    overflow: hidden;
    & span {
      color: var(--text-title);
      font: var(--text-title);
      z-index: 1;
    }
     &:hover::before{
      scale: 1;
    }
   } 
   & .button::before{
      content: "";
      border-radius: 50%;
      width: 15rem;
      height: 15rem ;
      background-color: var(--blue-light);
      position: absolute;
      opacity: 0.5;
      scale: 0;
      transition: scale 250ms ease;
    }
  }
   
  }
  & .img-c-2{
    position: absolute;
    z-index: 0;
    top: 50%;
   left: 50%;
   transform: translate(-50%);
   transition: transform 800ms;
   &:hover{
    & .c-2{
      background-color: #001933;
      filter: drop-shadow(0 0 66px #358BB91a);
      transform: translateY(-10px);
    }
   }
  }
  & .c-2{
    position: relative;
    transition: transform 500ms ease;
    & > img:nth-child(1){
      position: absolute;
      top: -12%;
      left: 16%;
    }
    & .card-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
      

      & span{
        color: var(--pink-dark);
        
      }
      & .h3{
        width: 5.625rem;
        height: 1.875rem;
        background-color: var(--shape-stroke);
        padding: 0.562rem 1.25rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      & h3{
        font: var(--tag);
        color: var(--text-body);
        letter-spacing: 5%;
      }
    }
    & ul{
      padding-bottom: 1.5rem;
    }

     & .button{
    background-color: var(--pink-dark);
    position: relative;
    overflow: hidden;
    & span {
      z-index: 1;
      color: var(--text-title);
        font: var(--text-title);
    }
     &:hover::before{
      scale: 1;
    }
   } 
   & .button::before{
      content: "";
      border-radius: 50%;
      width: 15rem;
      height: 15rem ;
      background-color: var(--pink-light);
      position: absolute;
      opacity: 0.5;
      scale: 0;
      transition: scale 250ms ease;
    }
  }
  & .img-c-3{
    z-index: -1;
    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%);
   transition: transform 800ms;

   &:hover{
      z-index: 1;
      & .card > img:nth-child(1){
        transform: rotate(20deg);
      }
      & .card > img:nth-child(2){
        transform: rotate(-10deg);
      }
    & .c-3{
      transition: transform 500ms ease;
      background-color: #001933;
      filter: drop-shadow(0 0 66px #358BB91a);
      transform: translateY(-10px);
    }
   }

  }
  & .c-3{
    position: relative;

    & .button{
    background-color: var(--blue-dark);
    position: relative;
    overflow: hidden;
    & span {
      z-index: 1;
      color: var(--text-title);
      font: var(--text-title);
    }
     &:hover::before{
      scale: 1;
    }
   } 
   & .button::before{
      content: "";
      border-radius: 50%;
      width: 15rem;
      height: 15rem ;
      background-color: var(--blue-light);
      position: absolute;
      opacity: 0.5;
      scale: 0;
      transition: scale 250ms ease;
    }


     & > img:nth-child(1){
      transition: transform 500ms ease;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      bottom: -8%;
      right: -16%;
    
    }
    & > img:nth-child(2){
      transition: transform 500ms ease;
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      bottom: -9%;
      right: 0;
      
    }
    & ul{
      padding-bottom: 1.125rem;
    }
  }
}
@keyframes moveLeft{
  100%{
    rotate: -8deg;
    translate: -102% ;
  }
}