header{
  background-image: url(../assets/hero-background.png);
  height:59.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  & .title{
    text-align: center;
    margin-top: 10.25rem;
    width: 41rem;
    height: 12.5rem;
    margin-inline: auto;
  }
  & .title h1{
    font: var(--title-lg);
    color: var(--text-title);
    padding-bottom: 2rem;
  }
  & .title p{
     margin-inline: auto;
    font: var(--body-lg);
    color: var(--text-body);
    width: 35.5rem;
    
  }
  & .logo{
    width: 100%;
    max-width: 80rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    
    padding-top: 3.5rem;
   & .button{
    background-color: var(--pink-dark);
    color: var(--text-title);
    padding: 1.25rem;
    border-radius: 0.5rem;
    width: 5.5rem;
    height: 2.5rem ;
    display: flex;
    align-items: center;
    font: var(--button);

   } 
  }
}