.hero-1{
  background-image: url(../assets/hero-background.png);
  height:59.25rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
    animation: image-appear 2s  linear  forwards;
  & .title{
    text-align: center;
    margin-top: 10.25rem;
    width: 41rem;
    height: 12.5rem;
    margin-inline: auto;
    ;
    
  }
  & .title h1{
    font: var(--title-lg);
    color: var(--text-title);
    padding-bottom: 2rem;
    opacity: 0;
    animation: image-appear 2s 500ms linear forwards;
  }
  & .title p{
     margin-inline: auto;
    font: var(--body-lg);
    color: var(--text-body);
    width: 35.5rem;
    opacity: 0;
    animation: image-appear 2s 800ms linear  forwards;
    
  }
  & .logo{
    width: 100%;
    max-width: 80rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    
    padding-top: 3.5rem;
   & .button{
    background-color: var(--pink-dark);
    color: var(--text-title);
    padding: 1.25rem;
    border-radius: 0.5rem;
    width: 5.5rem;
    height: 2.5rem ;
    display: flex;
    align-items: center;
    font: var(--button);
    position: relative;
    overflow: hidden;
    
    & span{
      font: var(--button);
      z-index: 1;
    }
    &:hover::before{
      scale: 1;
    }
   } 
   & .button::before{
      content: "";
      border-radius: 50%;
      width: 8rem;
      height: 8rem ;
      background-color: var(--pink-light);
      position: absolute;
      opacity: 0.5;
      right: -25%;
      scale: 0;
      transition: scale 500ms ease;
    }
    
  }
}
.hero-2{
  margin-bottom: 5rem;
  margin-top: 6rem;
  text-align: center;
  & p{
    font: var(--subtitle);
    color: var(--text-body);
  }
  &:hover{
    & .t-1{
    opacity: 1;
    transition-delay: 160ms;
    
   
  }
  & .t-1 span{
    animation: mudar-span 400ms 160ms ease both;
    
  }
  & .t-2{
    opacity: 1;
    transition-delay: 1160ms;
    
  }
  & .t-2 span{
    animation: mudar-span 400ms 1160ms ease both;
    
  }
  & .t-3{
    opacity: 1;
    transition-delay: 2160ms;
    
  }
  & .t-3 span{
    animation: mudar-span 400ms 2160ms ease both;
    
  }
  & > img{
   scale: 1;
  }
   & > div:nth-child(3) img[src*="ouija"]{
      scale: 1;
      transition-delay: 660ms;
    }
    & > div:nth-child(3) img[src*="ball"]{
      scale: 1;
      transition-delay: 1660ms;
    }
    }
    

  span{
    font-weight: 700;
  }
  & .text-hero p{
    display: inline; 
  }
  & .t-1{
    opacity: 0.5;  
    transition: opacity 400ms  ease ;
  }
  & .t-2{
    opacity: 0.5;
    transition: opacity 400ms  ease ;
  }
 
  & .t-3{
    opacity: 0.5;
    transition: opacity 400ms  ease ;
  }
  
  

  & img{
    transition: transform 500ms;
    
  }
  & img:hover{
    transform: scale(1.1) rotate(8deg);
  }

  & > img{
    rotate:21deg;
    width: 5.5rem;
    height: 5.5rem;
    scale: 0;
    transition: scale 250ms ease ;
  }

  & > div:nth-child(3){
    display: flex;
    justify-content: space-between;

    & img[src*="ouija"]{
      rotate: 110deg;
      width: 5rem;
      height: 5rem;
      scale: 0;
      transition: scale 250ms  ease ;
    }
    & img[src*="ball"]{
      rotate: -15deg;
      width: 4.5rem;
      height: 4.5rem;
      scale: 0;
      transition: scale 250ms  ease ;
    }
  }
}
@keyframes image-appear{
  100%{
    opacity: 1;
  }
}
@keyframes mudar-span {
  0%{
    color: var(--text-body);
  }
  100%{
    color: var(--blue-light);
    opacity: 1;
  }
}
